.color-sample
  display: grid
  margin: 0 auto
  gap: 20px
  grid-template: repeat(3, 70px) / 70px 40.26px 171px
  max-width: 281px

.color-sample__pallet
  min-height: 70px
  border-radius: 6px

  &_c1
    background: #1F2041

  &_c2
    background: rgba(31, 32, 65, 0.75)

  &_c3
    background: rgba(31, 32, 65, 0.5)

  &_c4
    background: rgba(31, 32, 65, 0.25)

  &_c5
    background: rgba(31, 32, 65, 0.05)

  &_c6
    background: rgba(188, 156, 255, 1)

  &_c7
    background: rgba(111, 207, 151, 1)

.color-sample__text
  grid-column: 3
  display: grid
  height: 56px
  min-width: 171px
  margin-top: 7px


.color-sample__color_title
  font-size: 19px
  line-height: 27.89px
  font-weight: 700
  margin: 0


.color-sample__color_description
  margin: 0
  font-size: 19px
  line-height: 27.89px
  font-weight: 400
