@import "../../styles/variables.styl"

.color-sample
  display: grid
  gap: 2rem
  grid-template-columns auto auto

  &__pallet
    min-height 7rem
    min-width 7rem
    border-radius 0.6rem
    &_c1
      background dark
    &_c2
      background rgba(dark, 0.75)
    &_c3
      background rgba(dark, 0.5)
    &_c4
      background rgba(dark, 0.25)
    &_c5
      background rgba(dark, 0.05)
    &_c6
      background purple
    &_c7
      background green

  &__text
    display flex
    flex-direction column
    justify-content center
    margin-left 2rem

  &__color_title
    @extend $subtitle
    text-transform capitalize
    margin-bottom 0.35rem

  &__color_description
    @extend $subtitle
    text-transform uppercase
    font-weight normal
