mixin color-sample(options={})
  -
    const {} = options;

  each item in options
    div(class="color-sample__pallet" + " " + "color-sample__pallet_" + item.pallet)
    .color-sample__text
      div(class= 'color-sample__color_title')= item.title
      div(class= 'color-sample__color_description')= item.description
