use('fonts.js')
fontFace(fontF, fontS, fontW, fontP)
  @font-face
    font-family fontF
    font-style fontS
    font-weight fontW
    src local(fontF),
        local(fontF+"-"+upperCase(fontS)),
        url("../assets/fonts/" + fontP + "-" + fontS + ".woff") format("woff"),
        url("../assets/fonts/" + fontP + "-" + fontS + ".ttf") format("truetype"),
        url("../assets/fonts/" + fontP + "-" + fontS + ".svg") format("svg")

fontFace(Montserrat, regular, 400, montserrat)
fontFace(Montserrat, bold, 700, montserrat)
