extends ../../layout/ui-kit-page/ui-kit-page
include ../../blocks/index-list/index-list

append variables
  -
    const title = "Навигация по страницам проекта";
    const description = "Ссылки на вэб и ui-kit страницы приложения отеля";
    const keywords = "навигация, содержимое, ссылки";
    const data = require("./data.json");
    const {webList, uiList} = data;

append main

  .index
    +index-list(webList)
    +index-list(uiList)
