extends ../../pages-structure/foundation/foundation

block main
  p Навигация по всем страницам Hotel Toxin
    ul
      li
        a(href="/header.html") Header
      li
        a(href="/footer.html") Footer