mixin logo (options={})
  -
    const {
      href = 'index.html',
      withText = true
    } = options;
    const path = withText ? 'logo.svg' : 'logo-textless.svg';

  a.logo(href = href)
    img.logo__image(src = require (`../../blocks/logo/img/${path}`) alt = 'logo')